{{define "layout"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{template "title" .}}</title>
        <!--suppress HtmlUnknownTarget -->
        <script src="/static/htmx2.04.js" defer></script>
    </head>
    <body>
        <header>
            <h1>{{template "title" .}}</h1>
        </header>
        <nav>{{template "nav" .}}</nav>
        {{template "main" .}}
    </body>
</html>
{{end}}
