{{define "layout"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{template "title" .}}</title>
    <script src="/static/htmx2.04.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>{{template "title" .}}</h1>
    </header>
    <nav>{{template "nav" .}}</nav>
    {{template "main" .}}
</body>

</html>
{{end}}
