<header>
    <h1>Kill me please</h1>
</header>
<nav>
    <a href="order">New</a>
    <a href="cakes">Manage Cakes</a>
</nav>
<main>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Date</th>
            <th>Accepted</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
        {{range .}}
        <tr>
            <th><a href="/order/{{.ID}}">edit</a></th>
            <th>{{.Name}}</th>
            <th>{{.Surname}}</th>
            <th>{{.Phone}}</th>
            <th>{{.Location}}</th>
            <th>{{.Date.Format "2006-01-02"}}</th>
            <th>{{.Accepted.Format "2006-01-02"}}</th>
            <th>{{.Status}}</th>
            <th>{{.Total}}</th>
        </tr>
        {{end}}
    </table>
</main>
